;; shadow-cljs configuration
{:source-paths ["src" "repl-tooling/src" "repl-tooling/resources"]

 :dependencies [[repl-tooling "0.5.12"]
                [com.wsscode/pathom "2.3.0-alpha17"]
                [org.rksm/suitable "0.3.2"]
                [compliment "0.4.0-SNAPSHOT"]
                [cljfmt "0.6.7"]]

 :http {:port 9699}

 :builds {:plugin {:target :node-library
                   :js-options {:js-provider :shadow
                                :keep-native-requires true
                                :keep-as-require #{"vscode"}}

                   :compiler-options {:infer-externs :auto}
                   :exports {:activate clover.core/activate
                             :deactivate clover.core/deactivate}
                   :output-dir "lib/js"
                   :output-to "lib/main.js"
                   :devtools {:before-load-async clover.core/before
                               :after-load clover.core/after}}
          :browser {:target :browser
                    :asset-path "js"
                    :output-dir "view/js"
                    :modules {:main {:init-fn clover.view.console/main}}
                    :devtools {:loader-mode :eval
                               :devtools-url "http://localhost:9699"}}}}
